* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Microsoft YaHei";
  color: white;
  font-weight: 300;
}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Microsoft YaHei";
  color: white;
  font-weight: 300;
}

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Microsoft YaHei";
  color: white;
  opacity: 1;
  font-weight: 300;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Microsoft YaHei";
  color: white;
  opacity: 1;
  font-weight: 300;
}

body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Microsoft YaHei";
  color: white;
  font-weight: 300;
}

.demo {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.moon {
  position: relative;
  margin: auto;
  top: 40px;
  right: 60px;
  left: auto;
  bottom: 0;

  width: 100px;
  height: 100px;

  animation-duration: 30s;
  animation-name: moon;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 1, 2, 2);
  border-radius: 50%;
  box-shadow: 25px 10px 10px 10px rgb(228, 226, 170);
}

.moon::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 90px;
  top: -52px;
  left: -22px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='240' height='180' viewBox='0 0 240 180'><defs><linearGradient id='r' x1='0' x2='1'><stop offset='0' stop-color='%23d72638'/><stop offset='1' stop-color='%23b11226'/></linearGradient></defs><path d='M58 116c42-36 72-49 126-58 14-3 25 8 23 21-5 29-19 58-40 78-12 11-30 9-44 0-28-18-48-27-83-41-10-4-11-14 18 0z' fill='url(%23r)'/><path d='M137 49c-14-16-36-20-54-8-10 6-17 16-19 27-1 6 6 9 10 4 11-16 33-19 46-5 4 4 10-1 7-5z' fill='%23ffffff' opacity='0.95'/><circle cx='67' cy='118' r='18' fill='%23ffffff'/><circle cx='52' cy='118' r='12' fill='%23ffffff' opacity='0.9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-16deg);
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.25));
  pointer-events: none;
}

.moon .moon-face {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.moon .moon-face::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  top: 44px;
  left: 36px;
  border-radius: 50%;
  background: rgba(40, 40, 40, 0.8);
  box-shadow: 24px 0 0 rgba(40, 40, 40, 0.8);
  animation: moonEyes 6s infinite;
}

.moon .moon-face::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 16px;
  top: 64px;
  left: 36px;
  border-radius: 0 0 16px 16px;
  border: 3px solid rgba(40, 40, 40, 0.75);
  border-top: 0;
  transform-origin: center;
  animation: moonMouth 6s infinite;
}



@keyframes moon {
  25% {

    background: transparent;
    box-shadow: 25px 10px 10px 10px rgb(228, 226, 17);
    transform: translate3d(-110px, -12px, 0);
  }

  50% {
    background: linear-gradient(-45deg, rgb(228, 226, 170), yellow, black);
    box-shadow: 25px 10px 10px 10px transparent;
    transform: translate3d(-210px, -18px, 0);
  }

  75% {
    background: rgb(252, 248, 136);
    box-shadow: 25px 10px 10px 10px transparent;
    transform: translate3d(-320px, -12px, 0);
  }

  95% {
    background: transparent;
    box-shadow: transparent;
    transform: translate3d(-360px, 0, 0);
  }
}

@keyframes moonEyes {
  0% { transform: scaleY(1); opacity: 0.85; }
  42% { transform: scaleY(1); opacity: 0.85; }
  45% { transform: scaleY(0.15); opacity: 0.9; }
  48% { transform: scaleY(1); opacity: 0.85; }
  70% { transform: scaleY(1); opacity: 0.85; }
  73% { transform: scaleY(0.15); opacity: 0.9; }
  76% { transform: scaleY(1); opacity: 0.85; }
  100% { transform: scaleY(1); opacity: 0.85; }
}

@keyframes moonMouth {
  0% { transform: scaleX(1) scaleY(1); }
  30% { transform: scaleX(1.05) scaleY(0.85); }
  55% { transform: scaleX(0.95) scaleY(1.05); }
  75% { transform: scaleX(1.08) scaleY(0.78); }
  100% { transform: scaleX(1) scaleY(1); }
}




.stars {
  background-color: white;
  height: 30%;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 2;
}

.star-1 {
  margin-top: 15px;
  margin-left: 60%;
  animation-duration: 2s;
  animation-name: twinkle;
}

.star-2 {
  margin-top: 25px;
  margin-left: 30%;
  animation-duration: 1.5s;
  animation-name: twinkle;
}

.star-3 {
  margin-top: -30px;
  margin-left: 50%;
  ;
  animation-duration: 1.1s;
  animation-name: twinkle;

}

.star-4 {
  margin-top: 35px;
  margin-left: 65%;
  animation-duration: 0.8s;
  animation-name: twinkle;
}

.star-5 {
  margin-top: 70px;
  margin-left: 20%;
  animation-duration: 0.5s;
  animation-name: twinkle;
}

.star-63 {
  margin-top: 20px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-64 {
  margin-top: 50px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}


.star-6 {
  margin-top: 80px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-61 {
  margin-top: 110px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-62 {
  margin-top: 140px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-7 {
  margin-top: 60px;
  margin-left: 47%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-8 {
  margin-top: 60px;
  margin-left: 51%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-9 {
  margin-top: 120px;
  margin-left: 45%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-10 {
  margin-top: 100px;
  margin-left: 44%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-11 {
  margin-top: 120px;
  margin-left: 53%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-12 {
  margin-top: 100px;
  margin-left: 54%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-13 {
  margin-top: 150px;
  margin-left: 49%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-14 {
  margin-top: 70px;
  margin-left: 45.5%;
  animation-duration: 3s;
  animation-name: twinkle;
}

.star-15 {
  margin-top: 70px;
  margin-left: 52.5%;
  animation-duration: 3s;
  animation-name: twinkle;
}

@keyframes twinkle {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }

  100% {
    transform: scale(0)
  }


}
























.wrapper {
  background: #ee9ca7;
  /* background: -webkit-linear-gradient(top left, #ee9ca7 0%, #ee9ca7 100%);
  background: linear-gradient(to bottom right, #ee9ca7 0%, #ee9ca7 100%); */
  background: linear-gradient(160deg, #061425, #0a2b4a, #1b5c6b, #ffb1c0, #ffe7ee);
  background: -webkit-linear-gradient(160deg, #061425, #0a2b4a, #1b5c6b, #ffb1c0, #ffe7ee);
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  -ms-transform: translateY(85px);
  transform: translateY(85px);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 7%;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

form {
  padding: 0 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: #79A8AE;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  font-family: "Microsoft YaHei";
  border: 0;
  padding: 10px 15px;
  color: #79A8AE;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 56px;
  height: 72px;
  border-radius: 50% 50% 46% 46% / 58% 58% 42% 42%;
  background: radial-gradient(circle at 30% 25%, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.2) 38%, rgba(0, 0, 0, 0) 42%),
    radial-gradient(circle at 50% 60%, rgba(255, 220, 245, 0.95), rgba(255, 170, 210, 0.22) 55%, rgba(255, 255, 255, 0.12) 85%),
    linear-gradient(135deg, rgba(255, 214, 235, 0.55), rgba(255, 255, 255, 0.12));
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.22), inset 0 0 0 2px rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.22);
  bottom: -160px;
  -webkit-animation: square 30s infinite;
  animation: square 30s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
}

.bg-bubbles li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(circle at 35% 25%, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0) 45%);
  opacity: 0.85;
}

.bg-bubbles li.egg-cracking {
  animation-play-state: paused;
  filter: drop-shadow(0 16px 34px rgba(0, 0, 0, 0.35));
}

.bg-bubbles li.egg-cracked {
  opacity: 0;
  transform: translateY(-40px) rotate(18deg) scale(0.92);
  transition: opacity 900ms ease, transform 900ms ease;
}

.bg-bubbles li.egg-cracking::after {
  content: "";
  position: absolute;
  inset: 8px;
  border-radius: inherit;
  background:
    linear-gradient(120deg, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.85) 48%, rgba(255, 255, 255, 0) 52%),
    linear-gradient(65deg, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 54%),
    linear-gradient(-30deg, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.65) 48%, rgba(255, 255, 255, 0) 52%);
  opacity: 0.9;
  animation: eggCrack 520ms ease forwards;
}

@keyframes eggCrack {
  0% { transform: scale(0.7); opacity: 0.2; }
  35% { transform: scale(1); opacity: 0.95; }
  100% { transform: scale(1.08); opacity: 0; }
}

.egg-shard {
  position: fixed;
  width: 14px;
  height: 14px;
  border-radius: 4px 10px 6px 12px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.75), rgba(255, 180, 220, 0.45));
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
  z-index: 5;
  pointer-events: none;
  opacity: 0.95;
  animation: shardFly 900ms ease forwards;
}

@keyframes shardFly {
  0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(1); opacity: 0.95; }
  70% { opacity: 0.75; }
  100% { transform: translate3d(var(--dx, 0px), var(--dy, -60px), 0) rotate(var(--dr, 0deg)) scale(0.9); opacity: 0; }
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 78px;
  height: 98px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 66px;
  height: 84px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 94px;
  height: 118px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 108px;
  height: 136px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 44px;
  height: 58px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 34px;
  height: 46px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 110px;
  height: 138px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

.bg-bubbles li:nth-child(11) {
  left: 12%;
  width: 58px;
  height: 74px;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-duration: 26s;
  animation-duration: 26s;
}

.bg-bubbles li:nth-child(12) {
  left: 62%;
  width: 86px;
  height: 110px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
    transform: translateY(-900px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
    transform: translateY(-900px) rotate(600deg);
  }




}
